@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
   <a href="/Index">Inicio</a>
    <a href="/Privacy">Instruccion</a>
    <a asp-page="/Privacy">Pasatiempos</a>
    <a href="">Fotografias</a>
    <a href="">Concursos</a>
    <a href="">Premios</a>
   <a href="">Videos</a>
    

</div>